/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .agingDate {
        Margin-left: 10%;
    }
    .customerName {
        Margin-left: 10%;
    }
    .creditControl {
        Margin-left: 10%;
    }
    .customerClass {
        Margin-left: 10%;
    }
    .saleMargin {
        margin-left: 10%;
    }
    .region {
        Margin-left: 10%;
    }
    .font {
        Font-size: 15px;
    }
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199.98px) {
    .agingDate {
        Margin-left: 10%;
    }

    .customerName {
        Margin-left: 10%;
    }

    .creditControl {
        Margin-left: 10%;
    }

    .customerClass {
        Margin-left: 10%;
    }

    .saleMargin {
        margin-left: 10%;
    }

    .region {
        Margin-left: 10%;
    }

    .font {
        Font-size: 15px;
    }
}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {
    .agingDate {
        Margin-left: 10%;
    }

    .customerName {
        Margin-left: 10%;
    }

    .creditControl {
        Margin-left: 10%;
    }

    .customerClass {
        Margin-left: 10%;
    }

    .saleMargin {
        margin-left: 10%;
    }

    .region {
        Margin-left: 10%;
    }

    .font {
        Font-size: 15px;
    }
}

/* Small devices (landscape phone, 576ox and up) */

@media (min-width: 576px) and (max-width:767.98px) {
    .agingDate {
        Margin-left: 0px;
    }

    .customerName {
        Margin-left: 0px;
    }

    .creditControl {
        Margin-left: 0px;
    }

    .customerClass {
        Margin-left: 0px;
    }

    .saleMargin {
        margin-left: 0px;
    }

    .region {
        Margin-left: 0px;
    }

    .font {
        Font-size: 15px;
    }

}


/* Extra small devices (portrait phone, less than 576px) */

@media (max-width:575.98px) {
}
